@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar-heatmap .no-value {
  fill: #e0e0e0;
  height: 10px;
  width: 10px;
}

.react-calendar-heatmap .value {
  fill: #874747;
  height: 10px;
  width: 10px;
}

.markdown-text {
  @apply text-gray-900;

  h3 {
    @apply text-lg font-bold mb-2;

  }

  p {
    @apply mb-4;
  }

  ul {
    @apply list-disc ml-6 flex flex-row flex-wrap gap-2;

    li {
      @apply basis-full;
    }
  }

  code {
    @apply bg-gray-300 rounded px-2 font-mono italic;
  }
}
